<div class="container">
    <form action="/addDrone" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Drone Model</label>
          <input type="text" class="form-control" name="dron[model]"  placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Service Type</label>
            <input type="text" class="form-control" name="dron[service]"  placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">ID #</label>
            <input type="text" class="form-control" name="dron[id]"  placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Gimbal</label>
            <input type="text" class="form-control" name="dron[Gimbal]"  placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Camera</label>
            <input type="text" class="form-control" name="dron[Camera]"  placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Flight Time</label>
            <input type="text" class="form-control" name="dron[flight_time]"  placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Flight Speed</label>
            <input type="text" class="form-control" name="dron[flight_speed]"  placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Weight</label>
            <input type="text" class="form-control" name="dron[weight]"  placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            <input type="text" class="form-control" name="dron[price]"  placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Image</label>
            <input type="text" class="form-control" name="dron[img_url]"  placeholder="">
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>