<div id="filter" class="row w-100 p-3"
style="color:white; background-color: rgba(69, 147, 243, 0.896); border-radius: 10px;">
<div class="col p-3 m-2" style="background-color: rgba(7, 113, 243, 0.896); border-radius: 10px;">
  <label for="service" class="form-label">Service</label>
  <select class="form-select" id="service" name="service">
    <option>Data Collection</option>
    <option>Payload</option>
    <option>Surveillance</option>
  </select>
</div>
<div class="col p-3 m-2" style="background-color: rgba(7, 113, 243, 0.896); border-radius: 10px;">
  <label for="Equipment" class="form-label">Equipment</label>
  <select class="form-select" id="Equipment" name="Equipment">
    <option>Camera</option>
    <option>Thermal Camera</option>
    <option>LiDAR</option>
    <option>Pesticide</option>
  </select>
</div>
<div class="col p-3 m-2" style="background-color: rgba(7, 113, 243, 0.896); border-radius: 10px;">
  <label for="date_time" class="form-label">Date & Time</label>
  <input type="date" class="form-select" id="date_time" name="date_time">
</div>
<div class="col p-3 m-2" style="background-color: rgba(7, 113, 243, 0.896); border-radius: 10px;">
  <label for="Price" class="form-label">Price</label>
  <select class="form-select" id="Price" name="price">
    <option>&lt; $200</option>
    <option>$200 - $400</option>
    <option>$400-$800</option>
    <option>&gt; $800</option>
  </select>
</div>
<div class="col p-3 m-2" style="background-color: rgba(7, 113, 243, 0.896); border-radius: 10px;">
  <label for="Brand" class="form-label">Brand</label>
  <select class="form-select" id="Brand" name="brand">
    <option>DJI</option>
    <option>MXB</option>
    <option>Nike</option>
    <option>SJSU</option>
  </select>
</div>

<div class="col p-3 m-2" style="background-color: rgba(7, 113, 243, 0.896); border-radius: 10px;">
  <label for="Status" class="form-label">Status</label>
  <select class="form-select" id="Status" name="status">
    <option>All</option>
    <option>Available</option>
    <option>Not Available</option>
  </select>
</div>
</div>