<nav class="navbar navbar-dark bg-dark no-print" style="height: 60px;">
    <span class="navbar-brand mb-0 h1 p-2">Agriculture Drone Service</span>
  </nav>

<div id="mySidebar" class="sidebar no-print">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/dashboard">View Bookings</a>
    <a href="/selectFarmland">Book Drone</a>
    <a href="#">View Profile</a>
    <a href="#">Maintenance</a>
    <a href="/signout">LogOut</a>

</div>
<div id="main">

    <button class="openbtn no-print" onclick="openNav()" style="border-radius:50%">☰</button>
    <div class="container"  style="background-color: rgba(240, 240, 240, 0.692); padding: 40px; border-radius: 10px;">